@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.65rem;
    --background: 1 0 0;
    --foreground: 0.141 0.005 285.823;
    --card: 0.98 0.002 286;
    --card-foreground: 0.141 0.005 285.823;
    --popover: 1 0 0;
    --popover-foreground: 0.141 0.005 285.823;
    --primary: 0.606 0.25 292.717;
    --primary-foreground: 0.969 0.016 293.756;
    --secondary: 0.967 0.001 286.375;
    --secondary-foreground: 0.21 0.006 285.885;
    --muted: 0.967 0.001 286.375;
    --muted-foreground: 0.552 0.016 285.938;
    --accent: 0.967 0.001 286.375;
    --accent-foreground: 0.21 0.006 285.885;
    --destructive: 0.577 0.245 27.325;
    --border: 0.92 0.004 286.32;
    --input: 0.92 0.004 286.32;
    --ring: 0.606 0.25 292.717;
    --chart-1: 0.646 0.222 41.116;
    --chart-2: 0.6 0.118 184.704;
    --chart-3: 0.398 0.07 227.392;
    --chart-4: 0.828 0.189 84.429;
    --chart-5: 0.769 0.188 70.08;
    --sidebar: 0.985 0 0;
    --sidebar-foreground: 0.141 0.005 285.823;
    --sidebar-primary: 0.606 0.25 292.717;
    --sidebar-primary-foreground: 0.969 0.016 293.756;
    --sidebar-accent: 0.967 0.001 286.375;
    --sidebar-accent-foreground: 0.21 0.006 285.885;
    --sidebar-border: 0.92 0.004 286.32;
    --sidebar-ring: 0.606 0.25 292.717;
  }

  .dark {
    --background: 0.141 0.005 285.823;
    --foreground: 0.985 0 0;
    --card: 0.2 0.005 285.823;
    --card-foreground: 0.985 0 0;
    --popover: 0.21 0.006 285.885;
    --popover-foreground: 0.985 0 0;
    --primary: 0.541 0.281 293.009;
    --primary-foreground: 0.969 0.016 293.756;
    --secondary: 0.274 0.006 286.033;
    --secondary-foreground: 0.985 0 0;
    --muted: 0.274 0.006 286.033;
    --muted-foreground: 0.705 0.015 286.067;
    --accent: 0.274 0.006 286.033;
    --accent-foreground: 0.985 0 0;
    --destructive: 0.704 0.191 22.216;
    --border: 1 0 0 / 10%;
    --input: 1 0 0 / 15%;
    --ring: 0.541 0.281 293.009;
    --chart-1: 0.488 0.243 264.376;
    --chart-2: 0.696 0.17 162.48;
    --chart-3: 0.769 0.188 70.08;
    --chart-4: 0.627 0.265 303.9;
    --chart-5: 0.645 0.246 16.439;
    --sidebar: 0.21 0.006 285.885;
    --sidebar-foreground: 0.985 0 0;
    --sidebar-primary: 0.541 0.281 293.009;
    --sidebar-primary-foreground: 0.969 0.016 293.756;
    --sidebar-accent: 0.274 0.006 286.033;
    --sidebar-accent-foreground: 0.985 0 0;
    --sidebar-border: 1 0 0 / 10%;
    --sidebar-ring: 0.541 0.281 293.009;
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }

  .black-gradient {
    background: linear-gradient(90deg, #161a31 0%, #06091f 100%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Masquer la scrollbar tout en gardant la possibilité de faire défiler */
.calendly-inline-widget::-webkit-scrollbar {
  width: 0; /* Cache la scrollbar verticale */
  height: 0; /* Cache la scrollbar horizontale */
}

/* Optionnel : rendre la scrollbar moins visible */
.calendly-inline-widget::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Barre de défilement plus discrète */
  border-radius: 10px;
}

.calendly-inline-widget::-webkit-scrollbar-track {
  background: transparent; /* Fond de la scrollbar transparent */
}

.Toastify__toast {
  font-size: 14px !important;
  border-radius: 8px !important;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1) !important;
}

.Toastify__toast--success {
  background: linear-gradient(to right, #475569, #334155) !important;
  color: #f1f5f9 !important;
}

.Toastify__toast--error {
  background: linear-gradient(to right, #475569, #334155) !important;
  color: #f1f5f9 !important;
}

.Toastify__progress-bar {
  background: #f1f5f9 !important;
}

.Toastify__close-button {
  color: #f1f5f9 !important;
  opacity: 1 !important;
}

.Toastify__close-button:hover {
  color: #e2e8f0 !important;
}

/* Dans votre fichier global.css ou Tailwind config */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes cell-ripple {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.4;
  }
}

@theme inline {
  --animate-cell-ripple: cell-ripple var(--duration, 200ms) ease-out none 1
    var(--delay, 0ms);
  --shadow-input: 0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

.transform-3d {
  transform-style: preserve-3d;
}
